.nav {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-shadow: -14px 17px 28px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px 17px 28px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -14px 17px 28px -9px rgba(0, 0, 0, 0.75);
}

.nav h4 {
    font-size: 1.6em;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}


main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 700px;
    /* border: 2px red solid; */
    background-color: #191919;
    justify-items: center;
    border-radius: 18px;
    max-width: 80%;
    padding: 10px;
}

main h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.btn-hero {
    background-color: white;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 500;
    cursor: pointer;
}

.btn-hero:hover {
    background-color: #191919;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}

.nav {
    background-color: #191919;
    width: 100%;
    border-radius: 15px;
    color: white;
}


.aaa {
    text-decoration: none;
}

.aaa:hover {
    color: white;
}